/*
  Structure instruction：
    # [Default Css]
      - [Root Css]: :root { ... }
      - [Structure]: html, body, main, #wrap ...
      - [HtmlTag]: h1, a, ::-webkit-scrollbar ...

    # [Plugins]
      - [Plugins Modified]: Bootstrap Modals...
      - [Plugins SelfMade]: My Modals...

    # [Public Style]
      - [Simple Css]: typesetting, color, fonts ... ( Single Css )
      - [Components]: btn, modal, select, radio ... ( Use frequently )
      - [Templates]: user_btn, user_alert18_Box ... ( Use when more than 2 pages, custom )

    # [Pages]
      - [Include Page]: header, footer
      - [Current Page]: #login, #about

    -- Author Comebuy
*/

/*######### [Default Css] #########*/
  /*====== [Root Css] ======*/
    :root {
      --wh: 100vh;
      --white: #ffffff;
      --dark: #3e4451;
      --success: #529d59;
      --danger: #c13515;
      --rem: 16px;
    }

  /*====== [Structure] ======*/
    html { scroll-behavior: smooth; }
    body { font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif; font-size: var(--rem); color: var(--dark); }
    #wrap { display: flex; flex-direction: column; min-height: var(--wh); margin-left: auto; margin-right: auto; }
    main { flex-grow: 1; padding-top: 1rem; padding-bottom: 1rem; }
    @media ( min-width: 992px ){
      main { flex-grow: 1; padding-top: 2.5rem; padding-bottom: 2.5rem; }
    }


  /*====== [Default Html] =======*/
    a { color: inherit; text-decoration: none; }
    a:hover { color: inherit; text-decoration: none; }
    label { margin-bottom: 0; }
    h1, h2, h3, h4, h5, h6 { margin-bottom: 0; }


/*######### [Plugins] #########*/
  /*====== [Plugins Modified] ======*/
    /*=== Bootstrap ===*/

  /*====== [Plugins SelfMade] ======*/
    /*=== js-input-eye ===*/

/*######### [Public Style] #########*/
  /*====== [Simple Css] ======*/
    /*=== emmet ===*/
      /* position */
        .pos-s {position:static !important;}
        .pos-a {position:absolute !important;}
        .pos-r {position:relative !important;}
        .pos-f {position:fixed !important;}

      /* display */
        .d-n {display:none !important;}
        .d-b {display:block !important;}
        .d-f {display:flex !important;}
        .d-if {display:inline-flex !important;}
        .d-i {display:inline !important;}
        .d-ib {display:inline-block !important;}

      /* font */
        .fw-n {font-weight:normal !important;}
        .fw-b {font-weight:bold !important;}
        .fw-br {font-weight:bolder !important;}
        .fw-lr {font-weight:lighter !important;}

        .fs-n {font-style:normal !important;}
        .fs-i {font-style:italic !important;}
        .fs-o {font-style:oblique !important;}

        .ta-l {text-align:left !important;}
        .ta-c {text-align:center !important;}
        .ta-r {text-align:right !important;}
        .ta-j {text-align:justify !important;}

        .whs-n {white-space:normal !important;}
        .whs-nw {white-space:nowrap !important;}

      /* flex */
        .ai-b {align-items:baseline !important;}
        .ai-c {align-items:center !important;}
        .ai-fe {align-items:flex-end !important;}
        .ai-fs {align-items:flex-start !important;}
        .ai-s {align-items:stretch !important;}
    
        .as-a {align-self:auto !important;}
        .as-b {align-self:baseline !important;}
        .as-c {align-self:center !important;}
        .as-fe {align-self:flex-end !important;}
        .as-fs {align-self:flex-start !important;}
        .as-s {align-self:stretch !important;}

        .jc-c {justify-content:center !important;}
        .jc-fe {justify-content:flex-end !important;}
        .jc-fs {justify-content:flex-start !important;}
        .jc-sa {justify-content:space-around !important;}
        .jc-sb {justify-content:space-between !important;}


    /*=== location ===*/
      .loc-1 { left:0; bottom:0; }
      .loc-2 { left:50%; bottom:0; transform:translate(-50%,0%); }
      .loc-3 { right:0; bottom:0; }
      .loc-4 { left:0; top:50%; transform:translate(0%,-50%); }
      .loc-5 { left:50%; top:50%; transform:translate(-50%,-50%); }
      .loc-6 { right:0; top:50%; transform:translate(0%,-50%); }
      .loc-7 { left:0; top:0; }
      .loc-8 { left:50%; top:0; transform:translate(-50%,0%); }
      .loc-9 { right:0; top:0; }
      
      .loc-t { left:0; right:0; top:0; }
      .loc-b { left:0; right:0; bottom:0; }
      .loc-l { left:0; top:0; bottom:0; }
      .loc-r { right:0; top:0; bottom:0; }
      
      .loc-full { left:0; right:0; top:0; bottom:0; }


    /*=== color ===*/




  /*====== [Components] ======*/

  /*====== [Templates] ======*/


/*######### [Pages] #########*/
  /*====== [Include Page] ======*/
    /*=== header ===*/


  /*====== [Current Page] ======*/
    /*=== index ===*/
      #map { overflow: hidden; max-height: 100vh; background-color: #eef; }
      #svgBox { position: relative; left: 0; right: 0; top: 0; bottom: 0; touch-action: none; }
      #svgBox svg { shape-rendering: optimizeSpeed; position: absolute; left: 0; right: 0; top: 0; bottom: 0; fill: none; background-color: #def; width: 100vw; touch-action: none; /* transition: all 0.2s ease;*/ }

      #svgBox svg path { fill: #fff; stroke: #111; stroke-width: 0.2px; cursor: pointer; /*transition: all 0.2s ease;*/ }
      #svgBox svg path.town:hover { stroke: #111; filter: brightness(130%); opacity: 0.9; }
      #svgBox svg path.town.active { stroke: #111 !important; filter: brightness(135%); }
      
      #svgBox svg path.county:hover { stroke: #111; opacity: 0.9; stroke-width: 0.4px; }
      #svgBox svg path.county.active { stroke: #111 !important; stroke-width: 0.6px; pointer-events: none; animation: 1.2s twinkle infinite; box-shadow: 1px 1px 10px 10px #ff0000; }

      @keyframes twinkle {
        0% { fill: rgba(255,255,255,0); }
        50% { fill: rgba(0,0,0,0); }
        100% { fill: rgba(255,255,255,0); }
      }

      @media( min-width: 576px ){}
      @media( min-width: 768px ){}
      @media( min-width: 992px ){}
      @media( min-width: 1200px ){}
      @media( min-width: 1400px ){}
