<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="shortcut Icon" type="image/x-icon" href="/static/common/img/logo/Logo@3x.png">
  <title></title>

  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- core -->
  <script src="/static/core/jquery-3.5.1/jquery-3.5.1.min.js"></script>
  <link href="/static/core/bootstrap-5.1.3/css/bootstrap-custom.css" rel="stylesheet">
  <script src="/static/core/bootstrap-5.1.3/js/bootstrap.bundle.min.js"></script>
  
  <!-- plugins -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
  <script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <!-- main -->
  <link href="/static/common/css/main.css" rel="stylesheet">
  <script src="/static/common/js/main.js"></script>

  <!-- data -->
  <script src="/static/common/js/data.js"></script>

  <style>
    #detail-charts { width: 400px; }
    hr { margin-top: .5rem; margin-bottom: .5rem; }
    @media( max-width: 420px ){
      #detail-charts { width: 300px; }
    }
  </style>
</head>
<body>
  <div id="wrap">
    <main class="py-0">
      <div id="map">
        <div id="svgBox" style="transform: translate(0px,0px) scale(1)">
          <svg id="svg" class="townMap" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <linearGradient id="linearGradient1" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0%" stop-color="black"></stop>
                <stop offset="50%" stop-color=""></stop>
                <stop offset="100%" stop-color="black"></stop>
              </linearGradient>
              <pattern id="pattern1" x="0" y="0" width="1" height="1" patternUnits="userSpaceOnUse">
                <rect id="pattern1_rect1" width="1" height="1" fill="currentColor"></rect>
                <line x1="0" y1="1" x2="1" y2="0" stroke="rgba(0,0,0,0.25)" stroke-width="0.15"></line>
                <line x1="0" y1="0" x2="1" y2="1" stroke="rgba(255,255,255,0.25)" stroke-width="0.15"></line>
              </pattern>
              <pattern id="pattern2" x="0" y="0" width="1" height="1" patternUnits="userSpaceOnUse">
                <rect id="pattern2_rect1" width="1" height="1" fill="currentColor" stroke="rgba(255,255,255,0.25)" stroke-width="0.25"></rect>
                <line x1="0" y1="1" x2="1" y2="0" stroke="rgba(0,0,0,0.25)" stroke-width="0.15"></line>
              </pattern>
            </defs>
          </svg>
        </div>
      </div>

      <div id="cursor-hover">
        <h6 id="cursor-county"></h6>
        <small id="cursor-town"></small>
      </div>

      <button id="backLv" class="btn btn-light pos-f loc-7" style="z-index: 10;">←</button>

      <div class="nav flex-column nav-pills pos-f loc-7" style="z-index: 10; top: 50px;" role="tablist">
        <button id="showPPColor" class="btn btn-primary nav-link active" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#ppColorTable" onclick="changeThemeColor()">議員好感度黨籍比例</button>
        <button id="showSFColor" class="btn btn-primary nav-link" data-bs-toggle="tab" type="button" role="tab" data-bs-target="#sfColorTable" onclick="changeThemeColor()">市長施政滿意度</button>
      </div>

      <div class="p-1 pos-f loc-1 tab-content" style="z-index: 10; bottom: 15px">
        <table id="ppColorTable" class="tab-pane show active text-center">
          <tr>
            <td colspan="3">國民黨</td>
          </tr>
          <tr>
            <td><div id="ppbMin" class="px-1">低</div></td>
            <td><div id="ppbClr" style="padding: 7px 50px"></div></td>
            <td><div id="ppbMax" class="px-1">高</div></td>
          </tr>
          <tr>
            <td colspan="3">民進黨</td>
          </tr>
          <tr>
            <td><div id="ppgMin" class="px-1">低</div></td>
            <td><div id="ppgClr" style="padding: 7px 50px"></div></td>
            <td><div id="ppgMax" class="px-1">高</div></td>
          </tr>
        </table>
        <table id="sfColorTable" class="tab-pane text-center">
          <tr>
            <td colspan="3">好感度</td>
          </tr>
          <tr>
            <td><div id="sfMin" class="px-1">壞</div></td>
            <td><div id="sfClr" style="padding: 7px 50px"></div></td>
            <td><div id="sfMax" class="px-1">好</div></td>
          </tr>
        </table>
      </div>

      <div class="d-flex flex-column pos-f loc-9" style="z-index: 10;">
        <button id="zoomIn" class="btn btn-success py-1 fs-5">+</button>
        <button id="zoomOut" class="btn btn-success py-1 fs-5">-</button>
      </div> 

      <div id="detail-click" class="card p-3 pos-f loc-3">
        <h5 id="detail-location"></h5>
        <div id="detail-charts" style="display: none">
          <div>選區最受歡迎議員前三名</div>
          <div id="detail-chart1"></div>
          <hr>
          <div>議員好感度黨籍比例</div>
          <div id="detail-chart2"></div>
          <hr>
          <div>市長施政滿意度</div>
          <div id="detail-chart3"></div>
          <hr>
          <div>政黨傾向</div>
          <div id="detail-chart4"></div>
        </div>
        <div id="detail-noCharts" style="display: none;">無資料</div>
      </div>
    </main>
  </div>
  
  <script>
    var ww = window.innerWidth
    var wh = window.innerHeight
    var onDrag = false
    var onZoom = false
    var scaleValue = 1
    var scaleAmp = 2

    var blueClrArr = ['#C8EBFD','#5AC3FA','#00A4FC','#0178BA','#004F81']
    var blueDomain
    var blueColor = d3.scale.linear().domain( d3.range( blueClrArr.length ) ).range( blueClrArr )

    var greenClrArr = ['#73E5AA','#57D690','#3CC471','#32A55F','#24854E']
    var greenDomain
    var greenColor = d3.scale.linear().domain( d3.range( greenClrArr.length ) ).range( greenClrArr )

    var sfClrArr = ['#FF0000','#EE9900','#EEFF00','#33FF33']
    var sfDomain
    var sfColor = d3.scale.linear().domain( d3.range( sfClrArr.length ) ).range( sfClrArr )
    
    var chart1 = null
    var chart2 = null
    var chart3 = null
    var chart4 = null

    var data
    var touch = false


    interactJs_drag()
    function interactJs_drag(){
      let gDis = 0
      interact('#svgBox')
        .gesturable({
          listeners: {
            start (event) {
              gDis = event.distance
            },
            move (event) {
              if ( Math.abs(gDis - event.distance) > 1){
                event.scale > 1.01 ? zoomMap( scaleValue*scaleAmp ) : ''
                event.scale < 0.99 ? zoomMap( scaleValue/scaleAmp ) : ''
              }
              dragMoveListener(event)
              gDis = event.distance
            },
            end () {
            }
          }
        })
        .draggable({
          inertia: true,
          modifiers: [
            interact.modifiers.restrictRect({
              restriction: 'parent',
              endOnly: true
            })
          ],
          listeners: {
            start (){
              onDrag = true
            },
            move (event) {
              dragMoveListener(event)
            },
            end () {
              let st = setTimeout(()=>{
                onDrag = false
                clearTimeout(st)
              }, 0)
            }
          }
        })

        function dragMoveListener(event) {
          let trans = getXYS( event.target )
          let x = (parseFloat(trans.x) || 0) + event.dx
          let y = (parseFloat(trans.y) || 0) + event.dy
    
          $(event.target).css('transform', `translate(${x}px, ${y}px) scale(${trans.s})`)
        }
    }
      

    function getXYS( elem ){
      let style = window.getComputedStyle( elem )
      let matrix = new WebKitCSSMatrix(style.transform)
      let {a,b,c,d,e,f} = matrix
      // console.log(a,b,c,d,e,f)
      return {x: e, y: f, s: a}
    }

    let mapType = 'town'
    let FN_mapD = ajaxMapData( mapType, (resData)=>{
      $('#svg').addClass( mapType + 'Map' )
      return resData
    })
    let FN_svD = ajaxSurveyData( '/static/common/json/mp2.json', resData => {
      // 將數據%轉為純數字 & #N/A改為""
      resData = resData.map( obj => {
        $.each( obj, (key, val) => {
          if ( val === '#N/A' ){
            obj[key] = ''
          } else if ( key.indexOf('好感度') > -1 || key.indexOf('比例') > -1 ){
            obj[key] = val.indexOf('%') > -1 ? +val.replace('%','') : 0
          } else {
            obj[key] = val
          }
        })
        return obj
      })
      return resData
    })

    getAllData( FN_mapD, FN_svD, resData => {
      data = resData

      let svB = {
        "國民黨籍議員好感度比例Max": 0,
        "國民黨籍議員好感度比例Min": 100,
        "民進黨籍議員好感度比例Max": 0,
        "民進黨籍議員好感度比例Min": 100,
        "市長施政滿意比例Max": 0,
        "市長施政滿意比例Min": 100,
        "市長施政不滿意比例Max": 0,
        "市長施政不滿意比例Min": 100,
      }

      data.features.forEach( obj => {
        if ( !obj.sv ) { return true }
        if ( obj.sv['國民黨籍議員好感度比例'] > obj.sv['民進黨籍議員好感度比例'] ){
          svB['國民黨籍議員好感度比例Max'] = Math.max( svB['國民黨籍議員好感度比例Max'], obj.sv['國民黨籍議員好感度比例'] )
          svB['國民黨籍議員好感度比例Min'] = Math.min( svB['國民黨籍議員好感度比例Min'], obj.sv['國民黨籍議員好感度比例'] )
        } else if ( obj.sv['國民黨籍議員好感度比例'] <= obj.sv['民進黨籍議員好感度比例'] ) {
          svB['民進黨籍議員好感度比例Max'] = Math.max( svB['民進黨籍議員好感度比例Max'], obj.sv['民進黨籍議員好感度比例'] )
          svB['民進黨籍議員好感度比例Min'] = Math.min( svB['民進黨籍議員好感度比例Min'], obj.sv['民進黨籍議員好感度比例'] )
        }

        svB['市長施政滿意比例Max'] = Math.max( svB['市長施政滿意比例Max'], obj.sv['市長施政滿意比例'] )
        svB['市長施政滿意比例Min'] = Math.min( svB['市長施政滿意比例Min'], obj.sv['市長施政滿意比例'] )
        svB['市長施政不滿意比例Max'] = Math.max( svB['市長施政不滿意比例Max'], obj.sv['市長施政不滿意比例'] )
        svB['市長施政不滿意比例Min'] = Math.min( svB['市長施政不滿意比例Min'], obj.sv['市長施政不滿意比例'] )

        // if ( obj['市長施政滿意比例'] > obj['市長施政不滿意比例'] ){
        //   svB['市長施政滿意比例Max'] = Math.max( svB['市長施政滿意比例Max'], (obj['市長施政滿意比例'] - obj['市長施政不滿意比例']).toFixed(2) )
        // } else if ( obj['市長施政滿意比例'] <= obj['市長施政不滿意比例'] ) {
        //   svB['市長施政滿意比例Min'] = Math.min( svB['市長施政滿意比例Min'], (obj['市長施政滿意比例'] - obj['市長施政不滿意比例']).toFixed(2) )
        // }
      })

      data.svBoundary = svB

      blueDomain = d3.scale.linear().domain([svB['國民黨籍議員好感度比例Min'], svB['國民黨籍議員好感度比例Max']]).range([0,blueClrArr.length-1])
      greenDomain = d3.scale.linear().domain([svB['民進黨籍議員好感度比例Min'], svB['民進黨籍議員好感度比例Max']]).range([0,greenClrArr.length-1])
      sfDomain = d3.scale.linear().domain([svB['市長施政滿意比例Min'], svB['市長施政滿意比例Max']]).range([0,sfClrArr.length-1])
      
      create_InfoColor('#ppbClr', blueClrArr )
      create_InfoColor('#ppgClr', greenClrArr )
      create_InfoColor('#sfClr', sfClrArr )
      
      $('#ppbMax').text(svB['國民黨籍議員好感度比例Max'])
      $('#ppbMin').text(svB['國民黨籍議員好感度比例Min'])
      $('#ppgMax').text(svB['民進黨籍議員好感度比例Max'])
      $('#ppgMin').text(svB['民進黨籍議員好感度比例Min'])
      $('#sfMax').text(svB['市長施政滿意比例Max'])
      $('#sfMin').text(svB['市長施政滿意比例Min'])

      create_D3GeoMap(data)
    })

    function create_InfoColor( tg, clrArr ){
      let str = ''
      $.each( clrArr, (idx ,item) => {
        let p1 = (idx / clrArr.length) * 100 + '%'
        let p2 = ( (idx+1) / clrArr.length) * 100 + '%'
        str += `,${item} ${p1}, ${item} ${p2}`
      })
      $(tg).css('background',`linear-gradient( to right ${str} )`)
    }

    function create_D3GeoMap(data){
      // 讓d3抓svg，並寫入寬高
      $('#svgBox').css({ width: ww, height: wh})
      $('#svg').attr('width', ww).attr('height', wh).attr('viewBox', `0 0 ${ww} ${wh}`)

      function getWindowScale(){
        let s = ww > wh ? wh : ww // contain
        let mpW = data.mapBoundary.maxX - data.mapBoundary.minX
        let mpH = data.mapBoundary.maxY - data.mapBoundary.minY

        let sr = ( ww / wh > mpW / mpH ) ? 13 : 16.5
        return s * sr
      }

      let projection = d3.geo.mercator()
        .center([120.8, 23.8])
        .scale(getWindowScale())
        .translate([ww/2, wh/2])
      
      let path = d3.geo.path().projection( projection )

      $('#svg def').append(`
        
      `)

      d3.select('#svg')
        .selectAll('path')
        .data( data.features )
        .enter()
        .append('path')
        .attr('d', path)
        .attr({
          countyId: (d) => d.properties.COUNTYID,
          countyCode: (d) => d.properties.COUNTYCODE,
          countyName: (d) => d.properties.COUNTYNAME,
          townId: (d) => d.properties.TOWNID || null,
          townCode: (d) => d.properties.TOWNCODE || null,
          townName: (d) => d.properties.TOWNNAME || null,
          mainId: (d) => d.properties.TOWNID || d.properties.COUNTYID,
          mainCode: (d) => d.properties.TOWNCODE || d.properties.COUNTYCODE,
          mainName: (d) => d.properties.TOWNNAME || d.properties.COUNTYNAME,
          indexNo: (d,i) => i,
          class: (d) => d.properties.TOWNID ? 'town' : 'county',
          // filter: d=> 'url(#mm)'
        })
        .style({
          // fill: (d) => 'url(#mm)'
        })
        // .style({
        //   fill: (d) => { return 'rgba(255,255,255,1)' }
        // })
        .on('mouseenter', d => {
          if (onDrag) { return }

          $('#cursor-county').text( d.properties.COUNTYNAME )
          $('#cursor-town').text( d.properties.TOWNNAME || '' )
        })
        .on('click', d => {
          if (onDrag) { return } 
        })

      changeThemeColor()
    }

    function changeThemeColor(){
      $.each( data.features, (idx,d)=>{
        let color = 'rgba(255,255,255,1)'

        if (d.sv){
          if ( $('#showSFColor').hasClass('active') ){
            // let sfR = (d.sv['市長施政滿意比例'] - d.sv['市長施政不滿意比例']).toFixed(2)
            let sfR = d.sv['市長施政滿意比例']
            color = sfColor( sfDomain( sfR ).toFixed(0) )
          } else {
            let blue = d.sv['國民黨籍議員好感度比例']
            let green = d.sv['民進黨籍議員好感度比例']
            if ( blue > green ){
              color = blueColor( blueDomain(blue).toFixed(0) )
            } else if ( blue <= green ) {
              color = greenColor( greenDomain(green).toFixed(0) )
            }
          }
        }

        if ( d.properties.TOWNID === undefined ){
          $(`path[countyID=${d.properties.COUNTYID}][mainID=${d.properties.COUNTYID}]`).css('fill', color)
          $(`path[countyID=${d.properties.COUNTYID}][mainID=${d.properties.COUNTYID}]`).attr('fillColor', color)
        } else {
          $(`path[countyID=${d.properties.COUNTYID}][mainID=${d.properties.TOWNID}]`).css('fill', color)
          $(`path[countyID=${d.properties.COUNTYID}][mainID=${d.properties.TOWNID}]`).attr('fillColor', color)
        }
      })
    }

    function zoomMap( newScale, pathXY ){
      if (onZoom){ return }
      onZoom = true

      let trans = getXYS( $('#svgBox')[0] )
      let oS = scaleValue
      let nS = newScale

      nS = nS > 20 ? 20 : nS
      nS = nS < 1 ? 1 : nS

      // 邊界 ( 因為scale 是由中心放大，故/2 => 例如1000寬*2=>2000，左右各+500寬 => 邊界從左右 [0,0] => [500,-500] )
      let bx = (ww*nS - ww) / 2
      let by = (wh*nS - wh) / 2

      let x = trans.x * nS / oS
      let y = trans.y * nS / oS

      if ( pathXY ){ // 地圖區塊點擊
        let px = pathXY.x + ( pathXY.width / 2 )
        let py = pathXY.y + ( pathXY.height / 2 )

        x = (ww/2 - px) * nS
        y = (wh/2 - py) * nS

        x -= $('#detail-click').width() / 2

      } else if ( event.deltaY ){ // 滑鼠滾輪
        x = (ww/2 - event.offsetX) * nS + (event.clientX - ww/2)
        y = (wh/2 - event.offsetY) * nS + (event.clientY - wh/2)
      }

      x = ( x > bx ) ? bx : x
      x = ( x < -bx ) ? -bx : x
      y = ( y > by ) ? by : y
      y = ( y < -by ) ? -by : y

      gsap.fromTo('#svgBox', 0.4, { x: trans.x, y: trans.y, scale: oS }, { x: x, y: y, scale: nS, ease: 'power2.out', 
        onComplete: ()=>{ onZoom = false }
      })

      scaleValue = nS
    }


  /* ====== listeners ====== */
    $(window).on('resize', ()=>{
      ww = window.innerWidth
      wh = window.innerHeight
      create_D3GeoMap(data)
    })

    $('#svgBox').on('mousewheel',() => {
      event.deltaY < 0 ? zoomMap( scaleValue*scaleAmp ) : zoomMap( scaleValue/scaleAmp )
    })
    $('#zoomIn').on('click',() => {
      zoomMap( scaleValue*scaleAmp )
    })
    $('#zoomOut').on('click',() => {
      zoomMap( scaleValue/scaleAmp )
    })

    $('#svg').on('click', function(event){
      if (onDrag) { return }
      
      let $TG = $(event.target)
      if ( $TG[0].nodeName === 'path' ){
        $('#detail-click').show()
        let indexNo = $TG.attr('indexNo')
        if ( $TG.hasClass('county') ){
          $('#svg').find('.county.active').removeClass('active')
          $('#svg').find('.town.active').removeClass('active')
        } else {
          $('#svg').find('.town.active').removeClass('active')
        }

        $TG.addClass('active')
        $('#svg').css('color', $TG.attr('fillColor') )
        $('#linearGradient_001').find('stop[offset="50%"]').attr('stop-color', $TG.attr('fillColor') )

        $('#detail-chart1').html('')
        $('#detail-chart2').html('')
        $('#detail-chart3').html('')
        $('#detail-chart4').html('')

        let sv = data.features[indexNo]['sv']
        let countyName = $TG.attr('countyName')
        let townName = $TG.attr('townName') ? ' - ' + $TG.attr('townName') : ''
        $('#detail-location').text( countyName + townName )

        // 生成圖表
        if ( sv ){
          $('#detail-charts').show()
          $('#detail-noCharts').hide()

          let color_KMT = '#05A5F5'
          let color_DPP = '#6BDA45'
          let color_nop = '#929292'

          let mpColors = [sv['第一名議員'], sv['第二名議員'], sv['第三名議員']].map( item => {
            if ( item.indexOf('國民黨') > -1 ) return color_KMT
            if ( item.indexOf('民進黨') > -1 ) return color_DPP
            if ( item.indexOf('無黨籍') > -1 ) return color_nop
            return color_nop
          })

          if ( chart1 ) { chart1.destroy() }
          chart1 = new ApexCharts( $("#detail-chart1")[0], {
            xaxis: {
              categories: [sv['第一名議員'],sv['第二名議員'],sv['第三名議員']],
              labels: {
                show: false,
                formatter: function (val) {
                  return val + "%"
                }
              },
            },
            series: [{
              name: '',
              data: [sv['第一名議員好感度'],sv['第二名議員好感度'],sv['第三名議員好感度']],
            }],
            dataLabels: {
              formatter: function (val, opt) {
                return val + '%'
              },
            },
            chart: {
              type: 'bar',
              height: 150,
              // width: 360,
              toolbar: {
                show: false,
              },
            },
            legend: {
              show: false,
            },
            colors: mpColors,
            tooltip: {
              y: {
                formatter: function (val) {
                  return val + "%"
                }
              }
            },
            plotOptions: {
              bar: {
                distributed: true,
                horizontal: true,
              }
            },
            tooltip: {
              enabled: false,
            },
          })
          chart1.render()

          if ( chart2 ) { chart2.destroy() }
          chart2 = new ApexCharts( $("#detail-chart2")[0], {
            series: [
              { name: '國民黨', data: [sv['國民黨籍議員好感度比例']] },
              { name: '民進黨', data: [sv['民進黨籍議員好感度比例']] },
              { name: '其他(無黨籍、其他政黨、未表態)', data: [sv['其他黨籍議員好感度比例']] },
            ],
            colors: ['#05A5F5','#6BDA45','#929292'],
            chart: {
              type: 'bar',
              stacked: true,
              stackType: '100%',
              // width: 360,
              height: 110,
              toolbar: {
                show: false,
              }
            },
            plotOptions: {
              bar: {
                horizontal: true,
              },
            },
            xaxis: {
              categories: [''],
              labels: {
                show: false
              },
            },
            yaxis: {
              labels: {
                show: false
              },
            },
            legend: {
              position: 'top',
              horizontalAlign: 'left',
              offsetX: -8,
              offsetY: 15
            },
            tooltip: {
              enabled: false,
            },
          })
          chart2.render()

          if ( chart3 ) { chart3.destroy() }
          chart3 = new ApexCharts( $("#detail-chart3")[0], {
            series: [
              { name: '滿意', data: [sv['市長施政滿意比例']] },
              { name: '不滿意', data: [sv['市長施政不滿意比例']] },
              { name: '無意見', data: [sv['市長施政無意見比例']] },
            ],
            colors: ['#00EE00','#FF0000','#929292'],
            chart: {
              type: 'bar',
              stacked: true,
              stackType: '100%',
              // width: 360,
              height: 110,
              toolbar: {
                show: false,
              }
            },
            plotOptions: {
              bar: {
                horizontal: true,
              },
            },
            xaxis: {
              categories: [''],
              labels: {
                show: false
              },
            },
            yaxis: {
              labels: {
                show: false
              },
            },
            legend: {
              position: 'top',
              horizontalAlign: 'left',
              offsetX: -8,
              offsetY: 15
            },
            tooltip: {
              enabled: false,
            },
          })
          chart3.render()

          if ( chart4 ) { chart4.destroy() }
          chart4 = new ApexCharts( $("#detail-chart4")[0], {
            labels: ['國民黨','民進黨','民眾黨','時代力量','基進黨','中間選民','其他政黨'],
            series: [sv['政黨比例-國民黨'],sv['政黨比例-民進黨'],sv['政黨比例-民眾黨'],sv['政黨比例-時代力量'],sv['政黨比例-基進黨'],sv['政黨比例-中間選民'],sv['政黨比例-其他政黨']],
            colors: ['#05A5F5','#6BDA45','#F9B927','#D30877','#FC0B19','#929292','#28B2F4'],
            chart: {
              type: 'pie',
              // width: 360,
              height: 240,
              toolbar: {
                show: false,
              }
            },
            legend: {
              offsetY: -10
            },
            responsive: [{
              breakpoint: 480,
              options: {
                chart: {
                  // width: 320
                },
                legend: {
                  offsetY: 0,
                  position: 'top'
                }
              }
            }]
          })
          chart4.render()
        } else {
          $('#detail-charts').hide()
          $('#detail-noCharts').show()
        }

        let rect = $TG[0].getBoundingClientRect()
        let xs = ww / rect.width
        let ys = wh / rect.height
        let scale = xs > ys ? ys : xs
        scale = $TG.hasClass('county') ? scale * 0.6 : scale * 0.3
        zoomMap( scaleValue * scale, $TG[0].getBBox() )
        console.log(rect, sv, '放大:' + scale )

      } else {
        $('#detail-click').hide()
      }
    })

    $('#backLv').on('click', function(){
      if (onZoom){ return }
      let $Town = $('#svg').find('.town.active')
      let $County = $('#svg').find('.county.active')

      if ( $Town.length > 0 ){
        let cId = $Town.attr('countyId')
        $Town.removeClass('active')
        $(`[mainId=${cId}]`).click()
      } else if ( $County.length > 0 && $Town.length === 0 ){
        $('#svg').click()
        // $('#backLv').hide()
        $County.removeClass('active')
        zoomMap(1)
      } else {
        zoomMap(1)
      }
    })

    $('#svg').on('mouseenter', 'path', function(evt){
      if (touch){ return }
      $('#cursor-hover').show()
    })
    $('#svg').on('mousemove', 'path', function(evt){
      $('#cursor-hover').css({left: `${evt.clientX + 10}px`, top: `${evt.clientY + 15}px`})
    })
    $('#svg').on('mouseleave', 'path', function(evt){
      $('#cursor-hover').hide()
    })
    $('#svg').on('touchstart', function(evt){
      touch = true
    })
  </script>
</body>
</html>