<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut Icon" type="image/x-icon" href="/static/common/img/logo/Logo@3x.png">
  <title></title>

  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- core -->
  <script src="/static/core/jquery-3.5.1/jquery-3.5.1.min.js"></script>
  <link href="/static/core/bootstrap-5.1.3/css/bootstrap-custom.css" rel="stylesheet">
  <script src="/static/core/bootstrap-5.1.3/js/bootstrap.bundle.min.js"></script>
  
  <!-- main -->
  <link href="/static/common/css/main.css" rel="stylesheet">
  <script src="/static/common/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
  <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->

</head>
<body>
  <div id="wrap">
    <main class="py-0">
      <div id="map">
        <div id="svgBox" class="draggable" style="transform: translate(0px,0px) scale(1)">
          <svg id="svg" xmlns="http://www.w3.org/2000/svg"></svg>
        </div>
      </div>

      <div id="details" class="card p-3 pos-f loc-3">
        <h3 id="detail-county"></h3>
        <h4 id="detail-town"></h4>
        <h5 id="detail-percent"></h5>
      </div>
    </main>
  </div>
  
  <script>
    var ww = window.innerWidth
    var wh = window.innerHeight
    var onDrag = false
    var scaleValue = 1

    interact('.draggable')
      .draggable({
        inertia: true,
        modifiers: [
          interact.modifiers.restrictRect({
            restriction: 'parent',
            endOnly: true
          })
        ],
        listeners: {
        start (){
          onDrag = true
        },
        move (event) {
          let $tg = $(event.target)

          let matrix = getXYS( event.target )
          let x = (parseFloat(matrix.x) || 0) + event.dx
          let y = (parseFloat(matrix.y) || 0) + event.dy
          $tg.css('transform', `translate(${x}px,${y}px) scale(${matrix.s})`)
          // $tg.attr('data-x', x)
          // $tg.attr('data-y', y)
        },
        end (event) {
          onDrag = false
        }
      }
    })

    function getXYS( elem ){
      let style = window.getComputedStyle( elem )
      let matrix = new WebKitCSSMatrix(style.transform)
      let {a,b,c,d,e,f} = matrix
      // console.log(a,b,c,d,e,f)
      return {x: e, y: f, s: a}
    }

    // 讓d3抓svg，並寫入寬高
    $('#svgBox').css({ width: ww, height: wh})
    $('#svg').attr('width', ww).attr('height', wh).attr('viewBox', `0 0 ${ww} ${wh}`)

    // 地圖網址: https://data.gov.tw/dataset/7441、https://data.gov.tw/dataset/7442
    // 地圖轉換: https://mapshaper.org/
    /* 步驟: 
     *  1.[地圖網址] 按SHP下載
     *  2.[轉換網址] 上傳壓縮檔
     *    2-1.Simplify 簡化線圖
     *    2-2.Export GeoJSON
     **/
    $.get( '/static/common/json/TOWN2.json', ( townData )=>{
      $.get( '/static/common/json/COUNTY2.json', ( countyData )=>{
        townData['mapSize'] = 'town'
        countyData['mapSize'] = 'county'

        // countyData = data_polygon_edit( countyData, (item)=>{ item.reverse() })

        let allData = JSON.parse(JSON.stringify(townData))
        allData['mapSize'] = 'all'
        allData.features = [...townData.features, ...countyData.features]


        function getGeo_DeleteOutOfBoundary( geo, boundary ){
          let {left=-180, right=180, top=90, bottom=-90} = boundary
          
          let coord = geo.coordinates
          if ( geo.type === 'MultiPolygon' ){
            $.each( coord, (cIdx, cItem) => {
              $.each( cItem, (iIdx, iItem) => {
                cItem[iIdx] = iItem.filter( (item, idx) => {
                  return (
                    item[0] > left &&
                    item[0] < right &&
                    item[1] < top &&
                    item[1] > bottom
                  )
                })
              })
            })
            // 過濾空陣列
            $.each( coord, (cIdx, cItem) => { 
              coord[cIdx] = cItem.filter( (item, idx) => {
                return item[0]
              })
            })
          } 
          else if ( geo.type === 'Polygon' ) {
            $.each( coord, (cIdx, cItem) => {
              coord[cIdx] = cItem.filter( (item, idx) => {
                return (
                  item[0] > left &&
                  item[0] < right &&
                  item[1] < top &&
                  item[1] > bottom
                )
              })
            })
          }

          return geo
        }

        $.each( allData.features, (idx, obj) => {
          let prop = obj.properties
          let geo = obj.geometry
          let coord = obj.geometry.coordinates
          
          switch( prop.COUNTYID ){
            case 'E': // 高雄市
              // 刪除離島
              var boundary = {
                left: 120.0,
                bottom: 22.2
              }

              // COUNTY & TOWN (旗津區)
              if ( prop.TOWNID === undefined || prop.TOWNID === 'E10' ){
                geo = getGeo_DeleteOutOfBoundary( geo, boundary)
              }
            break;

            case 'C': // 基隆市
              // 刪除離島
              var boundary = {
                right: 121.9,
                top: 25.2
              }

              // COUNTY & TOWN (中正區)
              if ( prop.TOWNID === undefined || prop.TOWNID === 'C01' ){
                geo = getGeo_DeleteOutOfBoundary( geo, boundary)
              }
            break;

            case 'G': // 宜蘭縣
              // 刪除離島
              var boundary = {
                right: 122.1,
                top: 25.1
              }

              // COUNTY & TOWN (頭城鎮)
              if ( prop.TOWNID === undefined || prop.TOWNID === 'G02' ){
                geo = getGeo_DeleteOutOfBoundary( geo, boundary)
              }
            break;

            case 'Z': // 連江縣
              // 偏移 (連江縣)
              var loc_W = [0.3, -0.7]
              geo = data_polygon_edit( geo, (item)=>{
                $.each( item, (idx,val)=>{
                  val[0] += loc_W[0]
                  val[1] += loc_W[1]
                })
              })
            break;

            case 'W': // 金門縣
              // 偏移 (金門縣)
              var loc_W = [1.1, 0]
              geo = data_polygon_edit( geo, (item)=>{
                $.each( item, (idx,val)=>{
                  val[0] += loc_W[0]
                  val[1] += loc_W[1]
                })
              })

              // 偏移 (烏坵鄉)
              var loc_W06 = [-0.65, -0.35]

              // COUNTY
              if ( prop.TOWNID === undefined ){
                if ( geo.type === 'MultiPolygon' ){
                  $.each( coord, (cIdx, cItem) => {
                    if ( cIdx == coord.length-1 || cIdx == coord.length-2 ){
                      $.each( cItem, (idx2, ele2) => {
                        $.each( ele2, (idx3, ele3) => {
                          ele3[0] += loc_W06[0]
                          ele3[1] += loc_W06[1]
                        })
                      })
                    }
                  })
                } else if ( geo.type === 'Polygon' ) {
                  $.each( coord, (cIdx, cItem) => {
                    if ( cIdx == coord.length-1 || cIdx == coord.length-2 ){
                      $.each( cItem, (idx2, ele2) => {
                        ele2[0] += loc_W06[0]
                        ele2[1] += loc_W06[1]
                      })
                    }
                  })
                }
              }

              // TOwN (烏坵鄉)
              if ( prop.TOWNID === 'W06' ){
                geo = data_polygon_edit( geo, (item)=>{
                  $.each( item, (idx, ele)=>{
                    ele[0] += loc_W06[0]
                    ele[1] += loc_W06[1]
                  })
                })
              }
              break;
          }
        })

        // 額外處理json檔，因為原始檔案陣列是反轉的，所以將它校正。
        let data = data_polygon_edit( allData, (item)=>{ item.reverse() })

        create_D3GeoMap('#svg', data)
      })
    })


    /**
     * @param {object} data 給整個json資料 或 資料裡特定的 geometry
     * @param {function} callback(item) 處理這層座標: [[122,23][122,24]...]
     * @param {boolean} lvUpper 如果為 true, 處理上層座標: [[[122,23][122,24]...]...]
     **/
    function data_polygon_edit( data, callback ){
      /* 
        data: {
          features: [
            {
              geometry: {
                type: "Polygon",
                coordinates: [[[0,0][1,1]]], // 共3層，item為下一層: [[0,0][1,1]]
              }
            },
            {
              geometry: {
                type: "MultiPolygon",
                coordinates: [[[[0,0][1,1]]]], // 共4層，item為下二層: [[0,0][1,1]]
              }
            }
          ]
        }
      */
      if ( data.features ){ // 給整個json
        $.each( data.features, (idx, obj) => {
          forGeoCoord(obj.geometry)
        })
      } else if ( data.coordinates ){ // 給指定geo
        forGeoCoord(data)
      }

      function forGeoCoord(geo){
        if ( geo.type === 'MultiPolygon' ){
          $.each( geo.coordinates, (cIdx, cItem) => {
            $.each( cItem, (iIdx, item) => {
              doItems( item )
            })
          })
        } else if ( geo.type === 'Polygon' ) {
          $.each( geo.coordinates, (cIdx, cItem) => {
            doItems( cItem )
          })
        }
      }

      function doItems( item ){
        callback( item )
      }
      
      return data
    }



    function create_D3GeoMap( svgID, data ){

      function getWindowScale(){
        let s = ww > wh ? wh : ww * 1.1 // contain
        let sr = ww < 700 && ww < wh ? 15 : 12
        return s * sr
      }

      let projection = d3.geo.mercator()
        .center([120.8, 23.8])
        .scale(getWindowScale())
        .translate([ww/2, wh/2])
      
      let path = d3.geo.path().projection( projection )

      d3.select( svgID )
        .selectAll('path')
        .data( data.features )
        .enter()
        .append('path')
        .attr('d', path)
        .attr({
          countyId: (d) => d.properties.COUNTYID,
          countyCode: (d) => d.properties.COUNTYCODE,
          countyName: (d) => d.properties.COUNTYNAME,
          townId: (d) => d.properties.TOWNID || null,
          townCode: (d) => d.properties.TOWNCODE || null,
          townName: (d) => d.properties.TOWNNAME || null,
          mainId: (d) => d.properties.TOWNID || d.properties.COUNTYID,
          mainCode: (d) => d.properties.TOWNCODE || d.properties.COUNTYCODE,
          mainName: (d) => d.properties.TOWNNAME || d.properties.COUNTYNAME,
        })
        .attr({
          class: (d) => d.properties.TOWNID ? 'town' : 'county'
        })
        .style({
          fill: (d) => {
            let p = (Math.random() * 100).toFixed(2)
            d.percent = p
            // return `hsl(210, 80%, calc( (100% - ${d.percent || -50}%) / 2 + 25% ))`
            return `hsl(150, 65%, calc( (100% - ${d.percent || -50}%) / 2 + 25% ))`
          }
        })
        .on('mouseenter', d => {
          if (onDrag) { return } 

          $('#detail').show()
          $('#detail-county').text( d.properties.COUNTYNAME )
          $('#detail-town').text( d.properties.TOWNNAME || '' )
          $('#detail-percent').text( '得票率: ' +d.percent+ '%' )
        })
        .on('click', d => {
          if (onDrag) { return } 
          
          let $TG = $(event.target)
          if ( $TG.hasClass('county') ){
            $(svgID).find('.county.active').removeClass('active')
            $(svgID).find('.town.active').removeClass('active')
          } else {
            $(svgID).find('.town.active').removeClass('active')
          }

          // console.log(d.geometry.type, event.x, event.y, event.target, event.offsetX)
          let rect = event.target.getBoundingClientRect()
          
          let xs = ww / rect.width
          let ys = wh / rect.height
          
          let s = xs > ys ? ys : xs
              s = s * 0.9
              console.log(rect, '放大:' + s)

              zoomMap( scaleValue * s, $(event.target)[0].getBBox() )

          $(event.target).addClass('active')
          $('#detail').show()
          $('#detail-county').text( d.properties.COUNTYNAME )
          $('#detail-town').text( d.properties.TOWNNAME || '' )
          $('#detail-percent').text( '得票率: ' +d.percent+ '%' )
        })
    }

    // listeners
    $(window).on('resize', ()=>{
      ww = window.innerWidth
      wh = window.innerHeight
    })

    $('#svgBox').on('mousewheel',() => {
      let mt = getXYS( $('#svgBox')[0] )
      let oS = scaleValue
      let nS = null // new Scale
      let sR = 2 // scale amp
      if (event.deltaY < 0){
        nS = oS*sR
      }
      else if (event.deltaY > 0){
        nS = oS/sR
      }

      zoomMap( nS )
    })

    function zoomMap( newScale, pathXY ){
      let mt = getXYS( $('#svgBox')[0] )
      let oS = scaleValue
      let nS = newScale

      nS = nS > 24 ? 24 : nS
      nS = nS < 1 ? 1 : nS

      // 邊界 ( 因為scale 是由中心放大，故/2 => 例如1000寬*2=>2000，左右各+500寬 => 邊界從左右 [0,0] => [500,-500] )
      let bx = (ww*nS - ww) / 2
      let by = (wh*nS - wh) / 2

      let rS = nS / oS
      let x = mt.x * rS
      let y = mt.y * rS

      if ( pathXY ){
        let px = pathXY.x + ( pathXY.width / 2 )
        let py = pathXY.y + ( pathXY.height / 2 )
        console.log( pathXY, px, py )
        x = (ww/2 - px) * nS - (pathXY.width / 2 / nS)
        y = (wh/2 - py) * nS - (pathXY.height / 2 / nS)
      }

      // x = ( x > bx ) ? bx : x
      // x = ( x < -bx ) ? -bx : x
      // y = ( y > by ) ? by : y
      // y = ( y < -by ) ? -by : y

      // console.log( { scale: nS, bound: `${bx},${by}`, transXY: `${x},${y}` } )
      $('#svgBox').css('transform',`translate(${x}px,${y}px) scale(${nS})`)

      scaleValue = nS
    }
  </script>
</body>
</html>